<v-content style="margin-top: -144px; background: white;">
  <section>
    <v-parallax src="assets/hero.jpeg" height="600">
      <v-layout column align-center justify-center class="white--text">
        <img src="assets/logo.png" alt="Vuetify.js" height="200">
        <h1 class="white--text mb-2 display-1 text-xs-center">Test-bed Composer</h1>
        <div class="subheading mb-3 text-xs-center">Create your personal test-bed with a few clicks</div>
        <v-btn class="blue lighten-2 mt-5" dark large href="/pre-made-themes">
          Get Started
        </v-btn>
      </v-layout>
    </v-parallax>
  </section>

  <section>
    <v-layout column wrap class="my-5" align-center>
      <v-flex xs12 sm4 class="my-3">
        <div class="text-xs-center">
          <h2 class="headline">The best way to start developing</h2>
          <span class="subheading">
            Using Docker-compose you have your setup working in no time.
          </span>
        </div>
      </v-flex>
      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap align-center>
            <v-flex xs12 md4>
              <v-card class="elevation-0 transparent">
                <v-card-text class="text-xs-center">
                  <v-icon x-large class="blue--text text--lighten-2">color_lens</v-icon>
                </v-card-text>
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline text-xs-center">Docker</div>
                </v-card-title>
                <v-card-text>
                  Select the components you need from the tabs above, optionally configure them, and get your
                  personal Docker-compose file for personal development or trialling solutions.
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 md4>
              <v-card class="elevation-0 transparent">
                <v-card-text class="text-xs-center">
                  <v-icon x-large class="blue--text text--lighten-2">flash_on</v-icon>
                </v-card-text>
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Fast development</div>
                </v-card-title>
                <v-card-text>
                  Because you don't need to install and integrate all these tools separately, but the come together
                  in one package. Integrate your own Dockerized test-bed solutions and share them with us.
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 md4>
              <v-card class="elevation-0 transparent">
                <v-card-text class="text-xs-center">
                  <v-icon x-large class="blue--text text--lighten-2">build</v-icon>
                </v-card-text>
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline text-xs-center">Completely Open Source</div>
                </v-card-title>
                <v-card-text>
                  The test-bed reference implementation is completely open source, and can be found on
                  <a href="https://github.com/DRIVER-EU/">GitHub</a>. So start hacking away immediately.
                  and share your improvements with us.
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </section>

  <section>
    <v-parallax src="assets/section.jpg" height="380">
      <v-layout column align-center justify-center>
        <div class="headline white--text mb-3 text-xs-center">Trialing crisis management solutions has never been easier</div>
        <em>Kick-start your own test-bed today</em>
        <v-btn class="blue lighten-2 mt-5" dark large href="/pre-made-themes">
          Get Started
        </v-btn>
      </v-layout>
    </v-parallax>
  </section>

  <section>
    <v-container grid-list-xl>
      <v-layout row wrap justify-center class="my-5">
        <v-flex xs12 sm4>
          <v-card class="elevation-0 transparent">
            <v-card-title primary-title class="layout justify-center">
              <div class="headline">Company info</div>
            </v-card-title>
            <v-card-text>
              The DRIVER+ test-bed is developed by many organizations, working together to make the world a safer place.
              For more information, please go to the <a href="http://www.driver-project.eu/">project website</a>.
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 sm4 offset-sm1>
          <v-card class="elevation-0 transparent">
            <v-card-title primary-title class="layout justify-center">
              <div class="headline">Contact us</div>
            </v-card-title>
            <v-card-text>
              Program manager: Peter Petiet
            </v-card-text>
            <v-list class="transparent">
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon class="blue--text text--lighten-2">phone</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>+31 6 xxx xxx</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon class="blue--text text--lighten-2">place</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>EU</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon class="blue--text text--lighten-2">email</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>Peter.Petiet@ProjectDriver.eu</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </section>

  <v-footer class="blue darken-2" style="height: 75px;">
    <v-layout row wrap align-center>
      <v-flex xs12>
        <div class="white--text ml-3">
          This project has received funding from the European Union’s Seventh Framework Programme
          for research, technological development and demonstration under grant agreement n° 607798.
          The information and views set out in this presentation are those of the author(s) and do
          not necessarily reflect the official opinion of the European Union.
        </div>
      </v-flex>
    </v-layout>
  </v-footer>
</v-content>
